# Ignore build directories
/build/
/obj/
build_osx

# Ignore raylib compiled libraries
*.dll
*.so
*.dylib
*.lib

# Ignore temporary files
*.tmp
*.log

# Ignore compiled object files
*.o
*.obj

# Ignore executable files
*.exe
*.out

# Ignore C++ backup files
*.gch
*.pch

# Ignore IDE specific files
.idea/
*.code-workspace

# Ignore OS specific files
.DS_Store
Thumbs.db

# Visual Studio specific files
.vscode/
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.suo
*.user
*.userosscache
*.userprefs
*.ncb
*.sdf
*.opensdf
*.sln.docstates
ipch/
*.aps
*.pch
*.vspscc
*.vssscc

bin